.parent {
  border: 1px solid black;
  padding: 10px;

  .title {
    padding: 10px;
    background: #00ff0050;
  }
}

.listItem {
  border: 1px solid black;
  padding: 8px;
  background: #00000050;
}
