html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Home.module.scss */
:global(.ant-layout) {
  width: 100%;
  min-height: 100vh;
}

:global(.ant-layout-header),
:global(.ant-layout-content) {
  width: 100%;
}

.show-spinner {
  filter: blur(5px)
}